.navbar {
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8b7176;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #d4cec3;
}

form,
.container {
  border: 1px solid;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  margin: 50px 0;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: serif;
  text-align: center;
}

.inner_container {
  text-align: center;
  padding: 5px;
}

h1 {
  font-size: larger;
}

h2 {
  font-size: medium;
  margin-bottom: 25px;
}

p {
  font-size: small;
  margin: 10px 0;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: serif;
}

button,
input[type="submit"] {
  width: 100%;
  padding: 14px 20px;
  margin: 24px 0 8px 0;
}

.loader {
  width: 5rem;
  height: 5rem;
  border: 5px solid #000000;
  border-top: 6px solid #8b7176;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
  display: none;
}

.loader.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
