.navbar {
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-brown);
}

li {
  float: left;
  border-right: 1px solid var(--light-grey);
}

li:last-child {
  border-right: none;
  float: right;
}

li a {
  display: inline-block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--beige);
}

.container {
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--white);
  padding: 20px;
  margin: 50px 0;
  width: 35%;
  box-shadow: 0 4px 8px 0 var(--almost-black), 0 6px 20px 0 var(--almost-black);
  font-family: serif;
  text-align: center;
}

.inner_container {
  text-align: center;
  padding: 5px;
}

h1 {
  font-size: larger;
}

h2 {
  font-size: medium;
  margin-bottom: 25px;
}

p {
  font-size: small;
  margin: 10px 0;
}

input[type='number'],
input[type='text'],
select {
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 4px;
  font-family: serif;
}

button {
  width: 100%;
  padding: 14px 20px;
  margin: 9px 0 8px 0;
}

.loader {
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--black);
  border-top: 6px solid var(--light-brown);
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
