body {
  font-family: serif;
}

.content {
  min-height: 100vh;
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

button,
input[type="submit"] {
  background-color: #8b7176;
  color: white;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: serif;
}
