:root {
  --black: #000000;
  --almost-black: #00000030;
  --red: #ff0044;
  --light-grey: #bbb;
  --light-brown: #8b7176;
  --light-yellow: #ffffe0;
  --lighter-yellow: #ffffea;
  --beige: #d4cec3;
  --white: #ffffff;
}

body {
  font-family: serif;
}

.content {
  min-height: 100vh;
  background-color: var(--light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  background-color: var(--light-brown);
  color: var(--white);
  box-shadow: 7px 6px 28px 1px var(--almost-black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: serif;
}
